<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Tiny Dashboard - A Bootstrap Dashboard Template</title>
    <!-- Simple bar CSS -->
    <link rel="stylesheet" href="css/simplebar.css">
    <!-- Fonts CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Icons CSS -->
    <link rel="stylesheet" href="css/feather.css">
    <!-- Date Range Picker CSS -->
    <link rel="stylesheet" href="css/daterangepicker.css">
    <!-- App CSS -->
    <link rel="stylesheet" href="css/app-light.css" id="lightTheme" disabled>
    <link rel="stylesheet" href="css/app-dark.css" id="darkTheme">
  </head>
  <body class="vertical  dark rtl ">
    <div class="wrapper">
        <nav class="topnav navbar navbar-light">
            <button type="button" class="navbar-toggler text-muted mt-2 p-0 mr-3 collapseSidebar">
            <i class="fe fe-menu navbar-toggler-icon"></i>
            </button>
            <form class="form-inline mr-auto searchform text-muted">
            <input class="form-control mr-sm-2 bg-transparent border-0 pl-4 text-muted" type="search" placeholder="Type something..." aria-label="Search">
            </form>
            <ul class="nav">
            <li class="nav-item">
                <a class="nav-link text-muted my-2" href="#" id="modeSwitcher" data-mode="dark">
                <i class="fe fe-sun fe-16"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-muted my-2" href="./#" data-toggle="modal" data-target=".modal-shortcut">
                <span class="fe fe-grid fe-16"></span>
                </a>
            </li>
            <li class="nav-item nav-notif">
                <a class="nav-link text-muted my-2" href="./#" data-toggle="modal" data-target=".modal-notif">
                <span class="fe fe-bell fe-16"></span>
                <span class="dot dot-md bg-success"></span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-muted pr-0" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="avatar avatar-sm mt-2">
                    <img src="./assets/avatars/face-1.jpg" alt="..." class="avatar-img rounded-circle">
                </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Profile</a>
                <a class="dropdown-item" href="#">Settings</a>
                <a class="dropdown-item" href="#">Activities</a>
                </div>
            </li>
            </ul>
        </nav>
        <aside class="sidebar-left border-right bg-white shadow" id="leftSidebar" data-simplebar>
            <a href="#" class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3" data-toggle="toggle">
            <i class="fe fe-x"><span class="sr-only"></span></i>
            </a>
            <nav class="vertnav navbar navbar-light">
                <!-- nav bar -->
                <div class="w-100 mb-4 d-flex">
                  <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="./index.html">
                    <svg version="1.1" id="logo" class="navbar-brand-img brand-sm" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 120" xml:space="preserve">
                      <g>
                        <polygon class="st0" points="78,105 15,105 24,87 87,87 	" />
                        <polygon class="st0" points="96,69 33,69 42,51 105,51 	" />
                        <polygon class="st0" points="78,33 15,33 24,15 87,15 	" />
                      </g>
                    </svg>
                  </a>
                </div>
                <ul class="navbar-nav flex-fill w-100 mb-2">
                  <li class="nav-item dropdown">
                    <a href="./dashboard.html" class="nav-link">
                      <i class="fe fe-home fe-16"></i>
                      <span class="ml-3 item-text">لوحة التحكم</span><span class="sr-only">(current)</span>
                    </a>
                  </li>
                </ul>
                <p class="text-muted nav-heading mt-4 mb-1">
                  <span>أجزاء النظام</span>
                </p>
                <ul class="navbar-nav flex-fill w-100 mb-2">
                  <li class="nav-item dropdown">
                    <a href="#ui-elements" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                      <i class="fe fe-users fe-16"></i>
                      <span class="ml-3 item-text">المدربين</span>
                    </a>
                    <ul class="collapse list-unstyled pl-4 w-100" id="ui-elements">
                      <li class="nav-item">
                        <a class="nav-link pl-3" href="./instructors.html"><span class="ml-1 item-text">قائمة المدربين</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link pl-3" href="#"><span class="ml-1 item-text">إضافة مدرب</span></a>
                      </li>
                    </ul>
                  </li>
                  <!-- End Of Instructors -->
      
                  <li class="nav-item dropdown">
                    <a href="#attendance" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                      <i class="fe fe-users fe-16"></i>
                      <span class="ml-3 item-text">الحضور</span>
                    </a>
                    <ul class="collapse list-unstyled pl-4 w-100" id="attendance">
                      <li class="nav-item">
                        <a class="nav-link pl-3" href="./attendance.html"><span class="ml-1 item-text">جدول الحضور اليومي</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <!-- End Of Attendance Table -->
                 
                  <li class="nav-item dropdown">
                    <a href="#forms" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                      <i class="fe fe-home fe-16"></i>
                      <span class="ml-3 item-text">القاعات</span>
                    </a>
                    <ul class="collapse list-unstyled pl-4 w-100" id="forms">
                      <li class="nav-item">
                        <a class="nav-link pl-3" href="./halls.html"><span class="ml-1 item-text">قائمة القاعات</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link pl-3" href=""><span class="ml-1 item-text">إضافة قاعة جديدة</span></a>
                      </li>
                    </ul>
                  </li>
                  <!-- End Of Halls -->
      
                  <li class="nav-item dropdown">
                    <a href="#tables" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                      <i class="fe fe-archive fe-16"></i>
                      <span class="ml-3 item-text">أرشيف المعاملات</span>
                    </a>
                    <ul class="collapse list-unstyled pl-4 w-100" id="tables">
                      <li class="nav-item">
                        <a class="nav-link pl-3" href="./sent-emails.html"><span class="ml-1 item-text">إشعارات الحسم</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link pl-3" href="#"><span class="ml-1 item-text">إنشاء إشعار حسم جديد</span></a>
                      </li>
                    </ul>
                  </li>
                  <!-- End Of Archive -->
      
                  <li class="nav-item dropdown">
                    <a href="#charts" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                      <i class="fe fe-folder fe-16"></i>
                      <span class="ml-3 item-text">نماذج الإشعارات</span>
                    </a>
                    <ul class="collapse list-unstyled pl-4 w-100" id="charts">
                      <li class="nav-item">
                        <a class="nav-link pl-3" href="./email-templates.html"><span class="ml-1 item-text">قائمة النماذج المتاحة بالنطام</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link pl-3" href="#"><span class="ml-1 item-text">إضافة نموذج جديد</span></a>
                      </li>
                    </ul>
                  </li>
                  <!-- End Of Email Templates -->
      
                  <li class="nav-item w-100">
                    <a class="nav-link" href="./days.html">
                      <i class="fe fe-calendar fe-16"></i>
                      <span class="ml-3 item-text">جدول الأيام</span>
                    </a>
                  </li>
                  <!-- End Of Calender -->
      
                  <li class="nav-item w-100">
                    <a class="nav-link" href="./profile-settings.html">
                      <i class="fe fe-settings fe-16"></i>
                      <span class="ml-3 item-text">إعدادات الملف الشخصي</span>
                    </a>
                  </li>
                  <!-- End Of Calender -->
      
                  <li class="nav-item w-100">
                    <a class="nav-link" href="#">
                      <i class="fe fe-power fe-16"></i>
                      <span class="ml-3 item-text">تسجيل الخروج</span>
                    </a>
                  </li>
                  <!-- End Of Calender -->
      
                </ul>
                
              </nav>
        </aside>

        <main role="main" class="main-content">
            <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10 col-xl-8">
                <h2 class="h3 mb-4 page-title">الإعدادات</h2>
                <div class="my-4">
                    <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">الملف الشخصي</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">الأمان</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">الإشعارات</a>
                    </li>
                    </ul>
                    <form>
                    <div class="row mt-5 align-items-center">
                        <div class="col-md-3 text-center mb-5">
                        <div class="avatar avatar-xl">
                            <img src="./assets/avatars/face-1.jpg" alt="..." class="avatar-img rounded-circle">
                        </div>
                        </div>
                        <div class="col">
                        <div class="row align-items-center">
                            <div class="col-md-7">
                            <h4 class="mb-1">براون، أشر</h4>
                            <p class="small mb-3"><span class="badge badge-dark">نيويورك، الولايات المتحدة</span></p>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-7">
                            <p class="text-muted"> لوريم إيبسوم دولور سيت أميت، كونسيكتيتور الآداية إليت. ماوريس بلانديت نيسل أولامكوربير، روتروم ميتوس إن، كونغو ليكتوس. إن هاك هابيتاس بلاتيا ديكتومست. كراس أورنا كوام، ماليسوادا فيتا ريسوس فيت، بريتيوم بلانديت سابين.</p>
                            </div>
                            <div class="col">
                            <p class="small mb-0 text-muted">شركة نيك أورنا سوسسيبيت المحدودة</p>
                            <p class="small mb-0 text-muted">ص. ب. 464، 5975 شارع إجت أفينيو</p>
                            <p class="small mb-0 text-muted">(537) 315-1481</p>
                            </div>
                        </div>
                        </div>
                    </div>
                    <hr class="my-4">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                        <label for="firstname">الاسم الأول</label>
                        <input type="text" id="firstname" class="form-control" placeholder="براون">
                        </div>
                        <div class="form-group col-md-6">
                        <label for="lastname">اسم العائلة</label>
                        <input type="text" id="lastname" class="form-control" placeholder="أشر">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail4">البريد الإلكتروني</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="brown@asher.me">
                    </div>
                    <div class="form-group">
                        <label for="inputAddress5">العنوان</label>
                        <input type="text" class="form-control" id="inputAddress5" placeholder="ص. ب. 464، 5975 شارع إجت أفينيو">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                        <label for="inputCompany5">الشركة</label>
                        <input type="text" class="form-control" id="inputCompany5" placeholder="شركة نيك أورنا سوسسيبيت المحدودة">
                        </div>
                        <div class="form-group col-md-4">
                        <label for="inputState5">الولاية</label>
                        <select id="inputState5" class="form-control">
                            <option selected="">اختر...</option>
                            <option>...</option>
                        </select>
                        </div>
                        <div class="form-group col-md-2">
                        <label for="inputZip5">الرمز البريدي</label>
                        <input type="text" class="form-control" id="inputZip5" placeholder="98232">
                        </div>
                    </div>
                    <hr class="my-4">
                    <div class="row mb-4">
                        <div class="col-md-6">
                        <div class="form-group">
                            <label for="inputPassword4">كلمة المرور القديمة</label>
                            <input type="password" class="form-control" id="inputPassword5">
                        </div>
                        <div class="form-group">
                            <label for="inputPassword5">كلمة المرور الجديدة</label>
                            <input type="password" class="form-control" id="inputPassword5">
                        </div>
                        <div class="form-group">
                            <label for="inputPassword6">تأكيد كلمة المرور</label>
                            <input type="password" class="form-control" id="inputPassword6">
                        </div>
                        </div>
                        <div class="col-md-6">
                        <p class="mb-2">متطلبات كلمة المرور</p>
                        <p class="small text-muted mb-2">لإنشاء كلمة مرور جديدة، يجب عليك تحقيق جميع متطلبات التالي:</p>
                        <ul class="small text-muted pl-4 mb-0">
                            <li> الحد الأدنى 8 أحرف </li>
                            <li>على الأقل حرف خاص واحد</li>
                            <li>على الأقل رقم واحد</li>
                            <li>لا يمكن أن تكون نفس كلمة المرور السابقة </li>
                        </ul>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">حفظ التغييرات</button>
                    </form>
                </div> <!-- /.card-body -->
                </div> <!-- /.col-12 -->
            </div> <!-- .row -->
            </div> <!-- .container-fluid -->
            <div class="modal fade modal-notif modal-slide" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="defaultModalLabel">الإشعارات</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="list-group list-group-flush my-n3">
                    <div class="list-group-item bg-transparent">
                        <div class="row align-items-center">
                        <div class="col-auto">
                            <span class="fe fe-box fe-24"></span>
                        </div>
                        <div class="col">
                            <small><strong>تم تحميل الحزمة بنجاح</strong></small>
                            <div class="my-0 text-muted small">الحزمة مضغوطة وتم تحميلها</div>
                            <small class="badge badge-pill badge-light text-muted">قبل 1 دقيقة</small>
                        </div>
                        </div>
                    </div>
                    <div class="list-group-item bg-transparent">
                        <div class="row align-items-center">
                        <div class="col-auto">
                            <span class="fe fe-download fe-24"></span>
                        </div>
                        <div class="col">
                            <small><strong>تم تحديث الودجت بنجاح</strong></small>
                            <div class="my-0 text-muted small">قم بإنشاء تخطيط جديد فقط: الفهرس، النموذج، الجدول</div>
                            <small class="badge badge-pill badge-light text-muted">قبل 2 دقيقة</small>
                        </div>
                        </div>
                    </div>
                    <div class="list-group-item bg-transparent">
                        <div class="row align-items-center">
                        <div class="col-auto">
                            <span class="fe fe-inbox fe-24"></span>
                        </div>
                        <div class="col">
                            <small><strong>تم إرسال الإشعارات</strong></small>
                            <div class="my-0 text-muted small">فوسكي دابيبوس، قل لنا أسفل الحاجز المتحرك</div>
                            <small class="badge badge-pill badge-light text-muted">قبل 30 دقيقة</small>
                        </div>
                        </div> <!-- / .row -->
                    </div>
                    <div class="list-group-item bg-transparent">
                        <div class="row align-items-center">
                        <div class="col-auto">
                            <span class="fe fe-link fe-24"></span>
                        </div>
                        <div class="col">
                            <small><strong>تم إرفاق الرابط بالقائمة</strong></small>
                            <div class="my-0 text-muted small">تم إرفاق تخطيط جديد بالقائمة</div>
                            <small class="badge badge-pill badge-light text-muted">قبل ساعة</small>
                        </div>
                        </div>
                    </div> <!-- / .row -->
                    </div> <!-- / .list-group -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">مسح الكل</button>
                </div>
                </div>
            </div>
            </div>
            <div class="modal fade modal-shortcut modal-slide" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="defaultModalLabel">الاختصارات</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body px-5">
                            <div class="row align-items-center">
                            <div class="col-6 text-center">
                                <div class="squircle bg-success justify-content-center">
                                <i class="fe fe-cpu fe-32 align-self-center text-white"></i>
                                </div>
                                <p>منطقة التحكم</p>
                            </div>
                            <div class="col-6 text-center">
                                <div class="squircle bg-primary justify-content-center">
                                <i class="fe fe-activity fe-32 align-self-center text-white"></i>
                                </div>
                                <p>النشاط</p>
                            </div>
                            </div>
                            <div class="row align-items-center">
                            <div class="col-6 text-center">
                                <div class="squircle bg-primary justify-content-center">
                                <i class="fe fe-droplet fe-32 align-self-center text-white"></i>
                                </div>
                                <p>القطرة</p>
                            </div>
                            <div class="col-6 text-center">
                                <div class="squircle bg-primary justify-content-center">
                                <i class="fe fe-upload-cloud fe-32 align-self-center text-white"></i>
                                </div>
                                <p>تحميل</p>
                            </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col-6 text-center">
                                    <div class="squircle bg-primary justify-content-center">
                                        <div class="squircle bg-primary justify-content-center">
                                            <i class="fe fe-users fe-32 align-self-center text-white"></i>
                                        </div>
                                        <p>المستخدمون</p>
                                    </div>
                                    <div class="col-6 text-center">
                                    <div class="squircle bg-primary justify-content-center">
                                        <i class="fe fe-settings fe-32 align-self-center text-white"></i>
                                    </div>
                                    <p>الإعدادات</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main> <!-- main -->
      
    </div> <!-- .wrapper -->
    
    <!-- Start Profile Settings Scripts -->
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/simplebar.min.js"></script>
    <script src='js/daterangepicker.js'></script>
    <script src='js/jquery.stickOnScroll.js'></script>
    <script src="js/tinycolor-min.js"></script>
    <script src="js/config.js"></script>
    <script src="js/apps.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag()
      {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-56159088-1');
    </script>
    <!-- End Profile Settings Scripts -->

  </body>
</html>     